/* General styles */
.steps2-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.steps2-max-width {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.steps2-container1 {
  justify-items: center;
  align-items: start;
}

.steps2-section-header {
  gap: var(--dl-space-space-oneandhalfunits);
  top: 10%;
  display: flex;
  position: sticky;
  align-items: flex-start;
  flex-direction: column;
}

.steps2-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}

.steps2-video {
  width: 68%; /* Default width */
  height: 90vh; /* Default height */
  position: relative;
  background-color: var(--dl-color-theme-accent1);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.steps2-video iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.steps2-container3,
.steps2-container4,
.steps2-container5,
.steps2-container6 {
  top: 10%;
  position: sticky;
  margin-bottom: var(--dl-space-space-twounits);
}

.steps2-container3 {
  background-color: var(--dl-color-theme-accent1);
}

.steps2-container4 {
  background-color: var(--dl-color-theme-accent2);
}

.steps2-container5 {
  background-color: var(--dl-color-theme-accent1);
}

.steps2-container6 {
  background-color: var(--dl-color-theme-accent2);
}

.steps2-text05,
.steps2-text08,
.steps2-text11,
.steps2-text14 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
}

.steps2-text16,
.steps2-text19,
.steps2-text20,
.steps2-text21,
.steps2-text22 {
  display: inline-block;
  text-align: center;
}

.steps2-text18 {
  display: flex;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
}

@media(max-width: 991px) {
  .steps2-max-width {
    flex-direction: column;
  }
}

@media(max-width: 767px) {
  .steps2-section-header {
    position: static;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .steps2-actions {
    width: 100%;
    align-self: flex-start;
  }
  .steps2-container3,
  .steps2-container4,
  .steps2-container5,
  .steps2-container6 {
    width: 100%;
  }
  .steps2-video {
    width: 100%; /* Full width on mobile */
    height: 40vh; /* Adjust height for mobile */
  }
}

@media(max-width: 479px) {
  .steps2-button {
    width: 100%;
  }
}
